@import "style/colors.scss";

.Hero {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 80px 0px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.Head {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.VideoContainer {
  height: 460px;
  width: 814px;
  border: none;
  background: #e0e0e0;
  border-radius: 20px;
  position: relative;
}

.Video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
}

.VideoContainer > video {
  display: block;
  object-fit: cover;
  margin: 0;
  padding: 0;
  float: left;
  outline: none;
}

.VideoWrapper {
  display: flex;
}

.SoundOnSVG {
  width: 20px;
  cursor: pointer;
  position: absolute;
  right: -120px;
  bottom: 0;
}

.SoundOffSVG {
  width: 20px;
  cursor: pointer;
  position: absolute;
  right: -120px;
  bottom: 0;
}

.Content {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 100px 16px 80px;
  position: relative;
  border-radius: 64px;
  border: 2px solid $primary;
}

.Left,
.Right {
  width: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.Logo {
  position: absolute;
  margin-right: 0px;
  margin-left: 0px;
}

.Left {
  background-color: $primary;
  border-radius: 56px 0px 0px 56px;
  padding: 52px 80px;
  position: relative;
  padding-right: 150px;

    
  .Label {
    position: absolute;
    top: -16px;
    left: 80px;
    font-family: "Airbnb Cereal App Bold";
    font-size: 12px;
    color: white;
    border-radius: 25px;
    padding: 8px 16px;
    background-color: black;
    padding-right: 12px;
  }
}

.Ternoart {
  width: 170px;
}

.Right {
  align-items: center;
  justify-content: center;
}


.Emoji {
  margin-left: 6px;
  font-size: 14px;
  line-height: 6px;
}

.Headline {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.Light {
  font-size: 28px;
  color: white;
  font-family: "Airbnb Cereal App Light";
}

.Bold {
  font-size: 34px;
  color: white;
  font-family: "Airbnb Cereal App Bold";
}

.Description {
  color: white;
  font-family: "Airbnb Cereal App Light";
  font-size: 14px;
  line-height: 20px;
  margin-top: 24px;

  span {
    font-family: "Airbnb Cereal App Bold";
    margin-left: 4px;
  }
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  border: 1px solid white;
  color: black;
  border-radius: 30px;
  padding: 12px 32px;
  font-size: 14px;
  margin-top: 24px;
  font-family: "Airbnb Cereal App Medium";
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    color: $primary;
  }
}

.RightContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  font-family: "Airbnb Cereal App Bold";
}

.AvailableSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Airbnb Cereal App Bold";
  font-size: 10px;
  color: white;
  border-radius: 25px;
  padding: 6px 14px;
  background-color: #ea174a;
  align-self: flex-start;
  margin-bottom: 24px;
}

.Step {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 26px;
  opacity: 0.4;
}

.StepNumber {
  background-color: $primary;
  color: white;
  padding: 4px 0px;
  width: 50px;
  border-radius: 50px;
  margin-right: 16px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.StepText {
  font-size: 20px;
  font-family: "Airbnb Cereal App Bold";
}

.Line {
  height: 65%;
  position: absolute;
  left: 23px;
  width: 5px;
  z-index: 1;
  background-color: $primary-light;
  opacity: 0.1;
  bottom: 30px;
}

.Creators {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  width: 100%;
}

.CreatorsDisplay {
  display: flex;
  width: 100%;
  padding: 6px 3px;
  justify-content: space-between;
  overflow: auto;
}

.CreatorsTitle {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  margin: 0px;
  margin-bottom: 16px;
}

.CreatorWrapper {
  margin-right: 24px;
  margin-bottom: 24px;
}

@media (max-width: 1300px) {
  .Hero {
    width: 900px;
    padding: 60px 0px;
    padding-bottom: 30px;
  }

  .Head {
    margin-bottom: 50px;
  }

  .VideoContainer {
    height: 400px;
    width: 708px;
  }

  .SoundOnSVG {
    right: -40px;
  }

  .SoundOffSVG {
    right: -40px;
  }

  .CreatorsTitle {
    font-size: 24px;
    line-height: 28px;
  }

  .CreatorWrapper {
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .Content {
    margin: 100px 16px 30px;
  }

  .Left {
    padding: 40px 52px;
    padding-right: 120px;

    .Label {
      top: -14px;
      left: 52px;
      font-size: 12px;
    }
  }

  .Ternoart {
    width: 140px;
  }

 

  .Light {
    font-size: 22px;
  }

  .Bold {
    font-size: 26px;
  }

  .Description {
    font-size: 12px;
    line-height: 20px;
    margin-top: 18px;

    span {
      font-family: "Airbnb Cereal App Bold";
      margin-left: 4px;
    }
  }

  .Button {
    padding: 10px 24px;
    font-size: 12px;
    margin-top: 18px;

    &:hover {
      background-color: white;
      color: $primary;
    }
  }

  .RightContainer {
    margin-left: 30px;
  }

  .Step {
    margin-bottom: 22px;
  }

  .StepNumber {
    width: 40px;
    border-radius: 50px;
    margin-right: 16px;
    font-size: 18px;
  }

  .StepText {
    font-size: 18px;
  }

  .Line {
    left: 18px;
    width: 5px;
  }
}

@media (max-width: 950px) {
  .Hero {
    width: 100%;
    padding: 50px 24px;
    padding-bottom: 25px;
  }

  .VideoContainer {
    height: 340px;
    width: 601px;
  }

  .Content {
    flex-direction: column;
    margin: 100px 0px 0px;
    //margin-bottom: 0px;
    border: none;
  }

  .AvailableSoon {
    align-self: center;
  }

  .Logo {
    display: none;
  }

  .Left {
    border-radius: 20px;
    padding: 40px;
    padding-right: 0px;
    width: 80%;

    .Label {
      left: 40px;
    }
  }

  .Description {
    max-width: 90%;
  }

  .ContentContainer {
    width: 100%;
  }

  .Right {
    margin-top: 64px;
  }

  .RightContainer {
    margin-left: 0px;
  }
}

@media (max-width: 720px) {
  .CreatorsTitle {
    font-size: 20px;
    line-height: 24px;
  }

  .CreatorsDisplay {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .CreatorWrapper {
    margin-right: 16px;
    margin-bottom: 16px;
  }
  .SoundOnSVG {
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    bottom: -45px;
  }

  .SoundOffSVG {
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    bottom: -45px;
  }
}

@media (max-width: 640px) {
  .Hero {
    width: 100%;
    padding: 40px 16px;
    padding-bottom: 20px;
  }
  .VideoContainer {
    height: 280px;
    width: 100%;
  }

  .Left {
    border-radius: 24px;
    padding: 40px;
    padding-right: 0px;
    width: 100%;

    .Label {
      left: 40px;
    }

  }

  .Right {
    width: 100%;
  }
}
