.Hero {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 80px 0px;
  align-items: center;
  justify-content: center;
}

.Head {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.VideoContainer {
  height: 360px;
  width: 640px;
  border: none;
  background: #e0e0e0;
  border-radius: 20px;
}

.Video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
}

.VideoContainer > video {
  display: block;
  object-fit: cover;
  margin: 0;
  padding: 0;
  float: left;
  outline: none;
  //border: 1px solid #e0e0e0;
}

.Title {
  font-family: 'Airbnb Cereal App Extra Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  max-width: 450px;
}

.Creators {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 100%;
}

.CreatorsDisplay {
  display: flex;
  width: 100%;
  padding: 6px 3px;
  flex-wrap: wrap;
}

.CreatorsTitle {
  font-family: 'Airbnb Cereal App Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  margin: 0px;
  margin-bottom: 16px;
}

.CreatorWrapper {
  margin-right: 24px;
  margin-bottom: 24px;
}

@media (max-width: 1300px) {
  .Hero {
    width: 900px;
    padding: 60px 0px;
  }

  .Head {
    margin-bottom: 50px;
  }

  .VideoContainer {
    height: 320px;
    width: 450px;
  }

  .Title {
    font-size: 46px;
    line-height: 55px;
    max-width: 360px;
  }

  .CreatorsTitle {
    font-size: 24px;
    line-height: 28px;
  }

  .CreatorWrapper {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 950px) {
  .Hero {
    width: 100%;
    padding: 50px 24px;
  }

  .VideoContainer {
    height: 280px;
    width: 390px;
  }
}

@media (max-width: 720px) {
  .Head {
    flex-direction: column;
  }

  .Title {
    font-size: 38px;
    line-height: 43px;
    max-width: 90%;
    padding: 0px 16px;
    text-align: center;
    margin-bottom: 60px;
  }

  .CreatorsTitle {
    font-size: 20px;
    line-height: 24px;
  }

  .CreatorsDisplay {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .CreatorWrapper {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 640px) {
  .Title {
    font-size: 38px;
    line-height: 43px;
    max-width: 100%;
    padding: 0px 16px;
    text-align: center;
    margin-bottom: 60px;
  }

  .Hero {
    width: 100%;
    padding: 40px 16px;
  }
  .VideoContainer {
    height: 280px;
    width: 100%;
  }
}
