.Wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 90px 0px;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.Top {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.Infos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

.Title {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
}

.BlazeSVG {
  margin-left: 16px;
  width: 20px;
  margin-bottom: -3px;
}

.Label {
  font-family: "Airbnb Cereal App Medium";
  color: #686464;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: right;
  margin-top: 3px;
  margin-left: 16px;
}

.SwitchShell {
  margin-top: 8px;
  margin-left: 16px;
  outline: none;
}

.CreatorsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

.CreatorShell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;
  width: 240px;
}
.CreatorInfos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 24px;
  text-align: left;
}

.CreatorName {
  margin: 0px;
  margin-bottom: 3px;
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-size: 17px;
}

.CreatorCaps {
  font-family: "Airbnb Cereal App Book";
  font-style: normal;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #b1b1b1;
}

.Hide {
  display: none;
}

@media (max-width: 1300px) {
  .Wrapper {
    width: 900px;
  }
  .Title {
    font-size: 26px;
  }

  .Label {
    font-size: 13px;
    line-height: 16px;
  }

  .BlazeSVG {
    margin-left: 16px;
    width: 17px;
    margin-bottom: -3px;
  }

  .SwitchShell {
    margin-top: 5px;
    margin-left: 16px;
    outline: none;
  }

  .CreatorName {
    margin: 0px;
    margin-bottom: 3px;
    font-family: "Airbnb Cereal App Medium";
    font-style: normal;
    font-size: 16px;
  }

  .CreatorCaps {
    font-family: "Airbnb Cereal App Book";
    font-style: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #b1b1b1;
  }
}

@media (max-width: 950px) {
  .Wrapper {
    width: 100%;
    padding: 40px 24px;
  }

  .CreatorsWrapper {
    justify-content: space-around;
  }

  .CreatorName {
    margin: 0px;
    margin-bottom: 3px;
    font-size: 15px;
  }

  .CreatorCaps {
    font-size: 13px;
  }

  .CreatorShell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 22px;
    width: 220px;
  }
}

@media (max-width: 720px) {
  .Wrapper {
    width: 100%;
    padding: 40px 16px;
  }
  .Top {
    width: 100%;
    flex-direction: column;
  }
  .SwitchShell {
    margin-left: 0px;
    margin-top: 9px;
  }

  .Toggle {
    margin-left: 0px;
  }

  .CreatorShell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 16px;
    width: 220px;
  }

  .CreatorName {
    margin: 0px;
    margin-bottom: 3px;
    font-size: 17px;
  }

  .CreatorCaps {
    font-size: 15px;
  }
}

@media (max-width: 670px) {
  .CreatorsWrapper {
    display: flex;
    width: 100%;
    padding: 6px 3px;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .CreatorInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 16px;
    text-align: left;
    width: 140px;
  }

  .CreatorShell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: 0px;
    margin-bottom: 16px;
    width: 240px;
    margin-right: 24px;
  }
}
