.Wrapper {
  display: flex;
  flex-direction: column;
  width: 1350px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 40px 0px;
  align-items: center;
  justify-content: center;
}

.Top {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.Infos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

.Title {
  font-family: 'Airbnb Cereal App Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
}

.BlazeSVG {
  margin-left: 16px;
  width: 20px;
  margin-bottom: -3px;
}

.Label {
  font-family: 'Airbnb Cereal App Medium';
  color: #686464;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: right;
  margin-top: 3px;
  margin-left: 16px;
}

.Bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  align-items: stretch;
}

.NFTS {
  display: flex;
  box-sizing: border-box;
}

.SwitchShell {
  margin-top: 8px;
  margin-left: 16px;
  outline: none;
}

// Creators

.CreatorsContainer {
  display: flex;
  height: 390px;
  background: #ffffff;
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 24px;
  box-sizing: border-box;
  flex: 1;
}

.CreatorsInner {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.CreatorItem {
  box-sizing: border-box;
}
