@import 'style/colors.scss';

.Footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  height: 450px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.WaterMark {
  width: 260px;
  position: absolute;
  left: 25%;
  top: 60px;
  z-index: 1;
}

.Container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}

.Insight {
  text-align: center;
  font-family: 'Airbnb Cereal App Book';
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 24px;
  z-index: 10;
}

.InputContainer {
  display: flex;
  width: 550px;
  z-index: 2;
  align-self: center;
    background: #1b1b1b;
  border: 1px solid #0c0b0b;
  border-radius: 40px;
}
.Input {
  padding: 0;
  border:none;
  background: inherit;
  border-radius: 40px;
  outline: none;
  color: white;
  font-family: 'Airbnb Cereal App Book';
  font-size: 18px;
  padding: 0px 4px 0px 24px;
  width: 100%;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  color: white;
  padding: 19px 50px;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  font-family: 'Airbnb Cereal App Bold';
  font-size: 14px;
  margin: 4px;
}

.SocialMedias {
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  align-self: center;
}

.SVGMedia {
  width: 22px;
  cursor: pointer;
  z-index: 10;
  fill: white;
}

.SVGMediaTwitter {
  width: 22px;
  cursor: pointer;
  z-index: 10;
  fill: white;
}

.FooterBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border-top: 0.5px solid #686464;
  padding: 24px 0px;
}

.Legals {
  display: flex;
  align-items: center;
}

.Link,
.Text {
  margin-right: 16px;
  font-family: 'Airbnb Cereal App Medium';
  font-size: 14px;
  line-height: 15px;
  color: #686464;
  cursor: pointer;
}

.Languages {
  display: flex;
  align-items: center;
  visibility: hidden;
}

.Flag {
  width: 24px;
  margin-right: 10px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .Footer {
    height: 400px;
  }

  .WaterMark {
    width: 180px;
    position: absolute;
    left: 20%;
    top: 90px;
    z-index: 1;
  }

  .InputContainer {
    width: 500px;
  }

  .Input {
    font-size: 16px;
  }

  .Button {
    padding: 16px 44px;
    right: 4px;
    top: 5px;
    font-size: 13px;
  }

  .SVGMedia {
    width: 20px;
    margin: 0px 8px;
  }

  .SVGMediaTwitter {
    width: 20px;
    margin: 0px 8px;
  }

  .Link,
  .Text {
    font-size: 12px;
    line-height: 12px;
  }

  .Languages {
    display: flex;
    align-items: center;
  }

  .Flag {
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  .FooterBar {
    padding: 18px 0px;
  }
  .Insight {
    font-size: 20px;
  }
}

@media (max-width: 950px) {
  .InputContainer {
    width: 420px;
  }
  .Insight {
    font-size: 18px;
  }

  .Input {
    font-size: 16px;
  }

  .Button {
    padding: 16px 32px;
    right: 4px;
    top: 5px;
    font-size: 13px;
  }

  .SVGMedia {
    width: 16px;
  }

  .SVGMediaTwitter {
    width: 16px;
  }
  .SocialMedias {
    width: 360px;
  }
}

@media (max-width: 720px) {
  .WaterMark {
    width: 140px;
    position: absolute;
    left: 10%;
    top: 90px;
    z-index: 1;
  }
  .InputContainer {
    width: 340px;
    align-self: center;
  }

  .Insight {
    margin-bottom: 16px;
  }

  .Input {
    font-size: 14px;
    padding-left: 16px;
  }

  .Button {
    padding: 10px 18px;
    right: 4px;
    top: 6px;
    font-size: 13px;
  }

  .FooterBar {
    flex-direction: column;
  }

  .Languages {
    margin-top: 16px;
  }

  .SocialMedias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .SVGMedia {
    width: 16px;
  }

  .SVGMediaTwitter {
    width: 16px;
  }

  .Link,
  .Text {
    font-size: 10px;
    line-height: 10px;
  }
}

@media (max-width: 340px) {
  .InputContainer {
    width: 250px;
  }
}
