body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Airbnb Cereal App Book';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Book'),
    url(../fonts/AirbnbCerealBook.woff) format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Light';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Light'),
    url(../fonts/AirbnbCerealLight.woff) format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Medium'),
    url(../fonts/AirbnbCerealMedium.woff) format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Bold'),
    url(../fonts/AirbnbCerealBold.woff) format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Extra Bold'),
    url(../fonts/AirbnbCerealExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Black';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Black'),
    url(../fonts/AirbnbCerealBlack.woff) format('woff');
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#FloatingHeader {
  display: none;
}

@media (max-width: 950px) {
  #FloatingHeader {
    display: flex;
  }
}
