.root {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6.4rem;
  padding: 0.4rem 0.8rem;

  &__deletable {
    border-radius: 0.8rem;
    padding: 0.8rem 0.8rem;
  }

  &__primary {
    background: #7417EA;

    > * {
      color: white;
    }
  }

  &__primaryInverted {
    background: rgba(116, 23, 234, 0.1);

    > * {
      color: #7417EA;
    }
  }

  &__transparent {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2.8rem);

    > * {
      color: black;
    }
  }
}

.text {
  font-family: "Airbnb Cereal App Bold";
  font-size: 1.2rem;
  margin-left: 0.4rem;
  white-space: nowrap;
}

.deleteIcon {
  margin-left: 0.8rem;
}