@import 'style/colors.scss';

.Container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Wrapper {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  box-sizing: border-box;
  padding: 120px 24px;
}

.NFT {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 420px;
  height: 672px;
  overflow: hidden;
  background: linear-gradient(180deg, #f29fff 0%, #878cff 100%);
  box-shadow: 0px 0px 14.5243px 5.0835px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  margin-right: 80px;
}

.NFTIMG {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 12px;
}

.Scale {
  position: absolute;
  z-index: 3;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.ScaleSVG {
  width: 18px;
  fill: black;
}

.Text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 650px;
}

.Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Title {
  font-family: 'Airbnb Cereal App Bold';
  font-size: 40px;
  line-height: 48px;
  margin: 0px;
  max-width: 400px;
}

.TopInfos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Views {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Airbnb Cereal App Book';
  font-size: 13.2617px;
  line-height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px 10px;
}

.EyeSVG {
  width: 16px;
  fill: black;
  margin-right: 10px;
}

.Like {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  border-radius: 50%;
  padding: 12px 10px;
  cursor: pointer;
  margin: 0px 10px;
}

.Share {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.ShareSVG {
  width: 14px;
  fill: black;
}

.LikeSVG {
  width: 16px;
  fill: black;
}

.Line {
  width: 100%;
  border-bottom: 1px solid black;
  margin: 12px 0px;
}

.Infos {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 12px;
}

.Tags {
  display: flex;
  flex-wrap: wrap;
}

.Tag {
  font-family: 'Airbnb Cereal App Bold';
  font-size: 14px;
  line-height: 22px;
  padding: 6px 24px;
  border-radius: 18px;
  border: 1.3px dashed #e0e0e0;
  cursor: pointer;
  margin: 0px 16px;
}

.Tag:nth-child(1) {
  margin-left: 0px;
}

.Emoji {
  margin-right: 10px;
  font-size: 15px;
}

.Collection {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.TopCol {
  font-size: 12px;
  line-height: 16px;
  font-family: 'Airbnb Cereal App Bold';
  color: #b1b1b1;
}
.BotCol {
  font-size: 12px;
  line-height: 16px;
  font-family: 'Airbnb Cereal App Bold';
}

.Description {
  margin: 52px 0px;
  font-size: 16px;
  line-height: 24px;
  color: #686464;
  font-family: 'Airbnb Cereal App Book';
}

.Buy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.BuyLeft {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: $primary;
  border-radius: 28px;
  padding: 12px 72px;
  font-size: 16px;
  font-family: 'Airbnb Cereal App Medium';
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);

  &:hover {
    color: white;
    background-color: black;
  }
}

.QuantityContainer {
  padding: 10px 30px;
}

.Quantity {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.QuantityLabel {
  font-size: 16px;
  font-family: 'Airbnb Cereal App Light';
  color: grey;
  width: 170px;
  margin-right: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.QuantityCount {
  font-size: 16px;
  font-family: 'Airbnb Cereal App Bold';
  text-align: center;
}

.Disabled {
  cursor: default;
  background-color: lighten($primary, 35%);
  &:hover {
    background-color: lighten($primary, 35%);
  }
}

.Fees {
  color: #b1b1b1;
  font-size: 11px;
  align-self: center;
  font-family: 'Airbnb Cereal App Book';
  margin-top: 6px;
}

.BuyRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Price {
  font-size: 24px;
  line-height: 31px;
  font-family: 'Airbnb Cereal App Bold';
  text-transform: uppercase;
}

.FiatPrice {
  color: #b1b1b1;
  font-family: 'Airbnb Cereal App Book';
  font-size: 18px;
}

.HistoryTop {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 52px;
}

.HistoryTitle {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Airbnb Cereal App Bold';
  margin-right: 24px;
}

.HistoryLine {
  width: 100%;
  border-top: 1px solid black;
}

.History {
  margin-top: 32px;
}

.HistoryItem {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.Check {
  width: 16px;
  fill: black;
}

.HistoryAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px 12px;
  position: relative;
}
.HistoryIMG {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
}

.HistoryUser {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.HistoryRole {
  font-size: 12px;
  line-height: 16px;
  font-family: 'Airbnb Cereal App Bold';
  color: $primary;
}

.HistoryName {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Airbnb Cereal App Bold';
  color: black;
}

.HistoryPast {
  opacity: 0.3;
}

.Hide {
  display: none;
}

@media (max-width: 1300px) {
  .Wrapper {
    width: 980px;
    padding: 90px 24px;
  }

  .NFT {
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 480px;
    overflow: hidden;
    background: linear-gradient(180deg, #f29fff 0%, #878cff 100%);
    box-shadow: 0px 0px 14.5243px 5.0835px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin-right: 60px;
  }

  .Text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 500px;
  }

  .Title {
    font-size: 34px;
    line-height: 38px;
    max-width: 350px;
  }

  .Views {
    font-size: 12px;
  }

  .EyeSVG {
    width: 14px;
    margin-right: 8px;
  }

  .Like {
    padding: 11px 10px;
  }
  .ShareSVG {
    width: 12px;
  }

  .LikeSVG {
    width: 14px;
  }

  .Tag {
    font-size: 12px;
    line-height: 18px;
    padding: 6px 16px;
  }

  .Description {
    margin: 32px 0px;
    font-size: 14px;
    line-height: 24px;
  }

  .Button {
    padding: 10px 52px;
    font-size: 16px;
  }

  .Fees {
    font-size: 10px;
  }

  .Price {
    font-size: 20px;
    line-height: 24px;
  }

  .HistoryAvatar {
    width: 55px;
    height: 55px;
  }

  .QuantityLabel {
    font-size: 14px;
    width: 130px;
  }
}

@media (max-width: 1000px) {
  .Wrapper {
    width: 100%;
    padding: 70px 24px;
  }
}

@media (max-width: 840px) {
  .Wrapper {
    width: 90%;
    padding: 40px 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .NFT {
    margin-right: 0px;
    margin-bottom: 52px;
  }

  .Buy {
    align-self: center;
  }

  .Text {
    width: 90%;
  }

  .Top {
    flex-direction: column;
  }

  .Title {
    font-family: 'Airbnb Cereal App Bold';
    font-size: 34px;
    line-height: 38px;
    margin: 0px;
    margin-bottom: 30px;
    max-width: auto;
    text-align: center;
  }

  .Line {
    margin-top: 32px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .Description {
    margin: 32px 0px;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
  }

  .Button {
    padding: 14px 90px;
    font-size: 16px;
  }

  .Fees {
    font-size: 11px;
  }

  .Price {
    font-size: 22px;
    line-height: 24px;
  }

  .Infos {
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }

  .HistoryTop {
    width: 75%;
    margin-top: 52px;
    align-self: center;
    flex-direction: column;
  }

  .HistoryLine {
    margin-top: 16px;
  }

  .History {
    margin-top: 32px;
    align-self: center;
  }

  .HistoryTitle {
    margin-right: 0px;
  }

  .Buy {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
  }

  .BuyLeft {
    margin-top: 16px;
    margin-right: 0px;
    order: 2;
  }
  .BuyRight {
    align-items: center;
    justify-content: center;
    order: 1;
  }

  .Collection {
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }

  .Tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px;
  }

  .Tag {
    margin: 0px 10px;
  }

  .Quantity {
    flex-direction: column;
  }

  .QuantityLabel {
    margin-right: 0px;
    margin-bottom: 3px;
  }
}

@media (max-width: 720px) {
  .Wrapper {
    width: 100%;
  }
  .Text {
    width: 100%;
  }
}
