@import 'style/colors.scss';

.Container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.MainWrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  box-sizing: border-box;
  padding: 60px 0;
}

.Wrapper {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  box-sizing: border-box;
  padding: 60px 0;
}

.NFT {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 420px;
  height: 672px;
  overflow: hidden;
  background: linear-gradient(180deg, #f29fff 0%, #878cff 100%);
  box-shadow: 0px 0px 14.5243px 5.0835px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  margin-right: 80px;
}

.NFTIMG {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 12px;
}

.Scale {
  position: absolute;
  z-index: 3;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.ScaleSVG {
  width: 18px;
  fill: black;
}

.Text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 650px;
}

.Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.TopInfosCreator {
  display: flex;
  align-items: center;
}
.TopInfosCreatorPicture {
  width: 45px;
  height: 45px;
  position: relative;
}
.TopInfosCreatorPictureIMG {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.TopInfosCreatorName {
  display: flex;
  flex-direction: column;
  font-family: 'Airbnb Cereal App Bold';
  font-size: 20px;
  margin-left: 10px;
}
.creatorTwitterUsername {
  font-size: 14px;
  font-family: 'Airbnb Cereal App Book';
  color: black;
}

.Title {
  font-family: 'Airbnb Cereal App Bold';
  font-size: 64px;
  line-height: 83px;
  margin: 0px;
  max-width: 400px;
}

.TopInfos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Views {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Airbnb Cereal App Book';
  font-size: 13.2617px;
  line-height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px 10px;
}

.EyeSVG {
  width: 16px;
  fill: black;
  margin-right: 10px;
}

.Like {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 12px 10px;
  cursor: pointer;
  margin: 0px 10px;
  @media (min-width: 768px) {
    &:hover {
      background-color: $primary;
      .LikeSVG {
        fill: white;
      }
    }
  }
}

.DisabledLike {
  opacity: 0.7;
  pointer-events: none;
}

.Liked {
  background-color: $primary;
  .LikeSVG {
    fill: white;
  }
}

.Share {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: $primary;
    .ShareSVG {
      fill: white;
    }
  }
}
.ShareSVG {
  width: 14px;
  fill: black;
}

.LikeSVG {
  width: 16px;
  fill: black;
}

.Line {
  width: 100%;
  border-bottom: 1px solid transparent;
  margin: 12px 0px;
}

.Infos {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 12px;
}

.Tags {
  display: flex;
  flex-wrap: wrap;
}

.Tag {
  font-family: 'Airbnb Cereal App Bold';
  font-size: 14px;
  line-height: 22px;
  padding: 6px 24px;
  border-radius: 18px;
  border: 1.3px dashed #e0e0e0;
  cursor: pointer;
  margin: 0px 16px;
}

.Tag:nth-child(1) {
  margin-left: 0px;
}

.Emoji {
  margin-right: 10px;
  font-size: 15px;
}

.Description {
  margin: 52px 0px;
  font-size: 16px;
  line-height: 24px;
  color: #686464;
  font-family: 'Airbnb Cereal App Book';
  white-space: pre-line;
}

.Buy {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}

.Available {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 25px 0;
  align-items: center;
}
.AvailbleText {
  color: #b1b1b1;
  background-color: white;
  border: solid 1px white;
  font-size: 16px;
  padding: 0 10px;
  font-family: 'Airbnb Cereal App book';
  display: flex;
}
.AvailbleCards {
  width: 15px;
  margin-right: 5px;
}
.AvailableBackLine {
  width: 50%;
  margin: 10px 0;
  border-bottom: solid 1px #b1b1b1;
  position: absolute;
  z-index: -1;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: $primary;
  border-radius: 28px;
  padding: 12px;
  width: 50%;
  font-size: 16px;
  font-family: 'Airbnb Cereal App Medium';
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);

  &:hover {
    color: white;
    background-color: black;
  }
}

.Disabled {
  cursor: default;
  background-color: lighten($primary, 35%);
  &:hover {
    background-color: lighten($primary, 35%);
  }
}

.Hide {
  display: none;
}

@media (max-width: 1300px) {
  .MainWrapper {
    width: 980px;
    padding: 40px 0;
  }
  .Wrapper {
    width: 980px;
    padding: 50px 0px;
  }

  .NFT {
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 480px;
    overflow: hidden;
    background: linear-gradient(180deg, #f29fff 0%, #878cff 100%);
    box-shadow: 0px 0px 14.5243px 5.0835px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin-right: 60px;
  }

  .Text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 500px;
  }

  .Title {
    font-size: 34px;
    line-height: 38px;
    max-width: 350px;
  }

  .Views {
    font-size: 12px;
  }

  .EyeSVG {
    width: 14px;
    margin-right: 8px;
  }

  .Like {
    padding: 11px 10px;
  }
  .ShareSVG {
    width: 12px;
  }

  .LikeSVG {
    width: 14px;
  }

  .Tag {
    font-size: 12px;
    line-height: 18px;
    padding: 6px 16px;
  }

  .Description {
    margin: 32px 0px;
    font-size: 14px;
    line-height: 24px;
  }
  .AvailableBackLine {
    width: 75%;
  }
  .Button {
    padding: 10px;
    width: 75%;
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .MainWrapper {
    width: 100%;
    padding: 30px 24px;
  }
  .Wrapper {
    width: 100%;
    padding: 50px 24px;
  }
}

@media (max-width: 840px) {
  .Wrapper {
    width: 90%;
    padding: 0px 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .NFT {
    margin-right: 0px;
    margin-bottom: 52px;
  }

  .Text {
    width: 90%;
  }

  .Top {
    flex-direction: column;
  }

  .TopInfosCreator {
    margin-bottom: 20px;
  }

  .Title {
    font-family: 'Airbnb Cereal App Bold';
    font-size: 34px;
    line-height: 38px;
    margin: 0px;
    max-width: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .Line {
    margin-top: 32px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .Description {
    margin: 32px 0px;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
  }

  .Button {
    width: 50%;
    font-size: 16px;
  }

  .AvailableBackLine {
    width: 50%;
  }

  .Buy {
    margin-top: 30px;
  }

  .Tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px;
  }

  .Tag {
    margin: 0px 10px;
  }
}

@media (max-width: 720px) {
  .Wrapper {
    width: 100%;
  }
  .Text {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .Button {
    width: 85%;
  }
  .AvailableBackLine {
    width: 85%;
  }
}
