@import "style/colors.scss";

.NFT {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 250px;
  height: 390px;
  border-radius: 12px;
  background: linear-gradient(180deg, #f29fff 0%, #878cff 100%);
  box-shadow: 0px 0px 14.5243px 5.0835px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  overflow: hidden;
  //will-change: transform;
  transform: translateZ(0);
}

.Container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  border-radius: 12px;
}

.Filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s ease-out;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(57, 57, 57, 0) 60%, #030303 92.5%);
  border-radius: 0px 0px 10.167px 10.167px;
  border-radius: 12px;
}

.NFTIMG {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  animation: scaleOut 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.SecretLabel {
  background-color: $primary;
  position: absolute;
  padding: 2.5px 20px;
  z-index: 4;
  border-radius: 35px;
  font-family: "Airbnb Cereal App Medium";
  font-size: 19px;
  margin: 0px;
  color: white;
  top: 16px;
  right: 16px;
}

.Favorite {
  background-color: $primary;
  align-self: flex-end;
  margin-right: 16px;
  margin-top: 16px;
  padding: 8px 16px;
  z-index: 4;
  border-radius: 20px;
  font-family: "Airbnb Cereal App Medium";
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.HeartSVG {
  width: 18px;
}

.Infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.Author {
  font-family: "Airbnb Cereal App Book";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  margin-top: 10px;
  color: white;
}

.Fade {
  animation: fadein 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  animation-fill-mode: forwards;
}

.FadeLong {
  animation: fadein2 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  animation-fill-mode: forwards;
}

.FadeSimple {
  animation: fadeSimple 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  animation-fill-mode: forwards;
}

.Slide {
  animation: slide 0.8s cubic-bezier(0.25, 1, 0.5, 1);

  animation-fill-mode: forwards;
}
.ImgScaling {
  animation: scale 1.1s cubic-bezier(0.25, 1, 0.5, 1);

  animation-fill-mode: forwards;
}

.Button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 28px;
  padding: 8px 18px;
  margin-top: 8px;
}

.ButtonText {
  font-family: "Airbnb Cereal App Bold";
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.Price {
  font-family: "Airbnb Cereal App Light";
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  margin-right: 16px;
  margin-top: 1px;
}

.Hide {
  display: none;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opaciy: 1;
    transform: translateY(0px);
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opaciy: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeSimple {
  0% {
    opacity: 0;
  }
  100% {
    opaciy: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}

@keyframes scaleOut {
  0% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1300px) {
  .NFT {
    width: 220px;
    height: 330px;
  }

  .Button {
    padding: 6px 14px;
    margin-top: 8px;
  }

  .ButtonText {
    font-size: 12px;
  }

  .Price {
    font-size: 11px;
    margin-right: 12px;
    margin-top: 0px;
  }
}

@media (max-width: 720px) {
  .NFT {
    width: 190px;
    height: 280px;
  }

  .SecretLabel {
    padding: 2.5px 16px;
    font-size: 16px;
  }

  .Favorite {
    padding: 6px 12px;
    font-size: 16px;
  }
  .HeartSVG {
    width: 16px;
  }
}
