.Header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 260px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  backdrop-filter: blur(20px);
  border-radius: 40px;
  position: fixed;
  z-index: 100;
  bottom: 50px;
  right: 50px;
  padding: 10px;
  transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.HeaderExpanded {
  border-radius: 28px;
  padding: 14px;
  padding-right: 16px;
  transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Connect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 26px;
  font-family: "Airbnb Cereal App Medium";
  font-size: 12px;
  background: #ffffff;
  border-radius: 25px;
  color: rgb(99, 14, 14);
  cursor: pointer;
}

.Burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.Line {
  width: 23px;
  border-radius: 24px;
  background-color: white;
  height: 2px;
  margin-bottom: 4px;
}

.Line:nth-child(3) {
  margin-bottom: 0px;
}
.CrossLine {
  transform: rotate(45deg);
  width: 23px;
  border-radius: 24px;
  background-color: white;
  height: 2px;
}

.CrossLine:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -1px);
  width: 23px;
  border-radius: 24px;
  background-color: white;
  height: 2px;
}

.FullHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-left: 14px;
  padding-bottom: 10px;
}
.Links {
  display: flex;
  flex-direction: column;
}
.Link {
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 8px;
  color: white;
  text-decoration: none;
}

.Input {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-size: 14px;
  border: none;
  width: 90%;
  padding: 8px 18px;
  outline: none;
  font-family: "Airbnb Cereal App Book";
  margin-bottom: 16px;
  color: white;
  display: none;
}

.Profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 28px;
  padding: 2px 2px;
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer;
}

.ProfileImageContainer {
  border-radius: 50%;
  display: flex;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  position: relative;
}

.ProfileImage {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreatorLetter {
  font-size: 18px;
  font-family: "Airbnb Cereal App Medium";
  text-transform: uppercase;
  color: white;
}

.Caps {
  margin-left: 16px;
  margin-right: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Airbnb Cereal App Light";
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.05px;
}

.NumberCaps {
  font-family: "Airbnb Cereal App Bold";
  letter-spacing: 0.5px;
  font-size: 13px;
  margin-right: 6px;
}

.ProfileSelect {
  background-color: white;
  color: black;
}

.Dropdown {
  background: #ffffff;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 100;
  position: absolute;
  top: -220px;
  right: 0px;
  width: 260px;
}

.Dropdown::after {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  z-index: 101;
  border-top: 10px solid black;
  content: "";
  position: absolute;
  bottom: 0px;
  right: 30px;
  transform: translateY(7px);
}

.DropdownContainer {
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.DropdownProfile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.Name {
  font-family: "Airbnb Cereal App Bold";
  margin-left: 16px;
  font-size: 16px;
  line-height: 24px;
}
.Section {
  padding: 12px 0px;
  display: flex;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}

.SectionWallet {
  color: #686464;
  margin-left: 8px;
  font-family: "Airbnb Cereal App Light";
  display: flex;
  align-items: center;
  justify-content: center;
}

.CopyPaste {
  width: 11px;
  fill: #cbc9c9;
  margin-left: 7px;
  margin-top: -2px;
}

.Section:last-child {
  border-bottom: none;
  padding-bottom: 4px;
}
.SectionTitle {
  font-family: "Airbnb Cereal App Bold";
  font-size: 12px;
}

.CapsSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 16px;
  background-color: black;
  box-sizing: border-box;
  color: white;
  border-radius: 0px 0 15px 15px;

  span {
    font-family: "Airbnb Cereal App Light";
    font-size: 10px;
  }
}

.CapsPrice {
  font-family: "Airbnb Cereal App Bold";
  font-size: 15px;
  margin-left: 10px;
}

@media (max-width: 730px) {
  .Header {
    left: 0px;
    right: 0px;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
}
