@import "style/colors.scss";

.Creator {
  position: relative;
  cursor: pointer;
}

.CreatorsItem {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  z-index: 6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CreatorsItemCard {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  z-index: 6;
}

.CreatorsItemSmall {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  z-index: 6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CreatorsItemXSmall {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  z-index: 6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CreatorsItemFullwidth {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CreatorsImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreatorLetter {
  font-size: 28px;
  font-family: "Airbnb Cereal App Medium";
  text-transform: uppercase;
  color: white;
}

.CreatorLetterSmall {
  font-size: 18px;
  font-family: "Airbnb Cereal App Medium";
  text-transform: uppercase;
  color: white;
}

.CreatorsBadge {
  position: absolute;
  width: 28px;
  top: 3px;
  left: -5px;
  z-index: 7;
}

.CreatorsBadgeSM {
  position: absolute;
  width: 18px;
  top: 4px;
  left: 0px;
  z-index: 7;
}
.CreatorsBadgeXSM {
  position: absolute;
  width: 16px;
  top: 4px;
  left: -5px;
  z-index: 7;
}

.Tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-52%);
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  z-index: 10;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  transform-origin: center;
}

.Tooltip::after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 100;
  border-top: 10px solid black;
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateY(7px);
}

.Pop {
  animation: pop 1s cubic-bezier(0.25, 1, 0.5, 1);
  animation-fill-mode: forwards;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(1) translateX(-52%);
  }
  50% {
    opacity: 1;
    transform: scale(1.05) translateX(-49%);
  }
  100% {
    transform: scale(1) translateX(-52%);
  }
}

.CreatorName {
  font-size: 14px;
  margin-bottom: 0px;
  color: white;
  font-family: "Airbnb Cereal App Bold";
}

.CreatorsCaps {
  color: $primary-light;
  font-family: "Airbnb Cereal App Book";
  font-size: 12px;
}

.Hide {
  display: none;
}

@media (max-width: 1300px) {
  .CreatorsItem {
    width: 70px;
    height: 70px;
  }

  .CreatorsItemCard {
    width: 60px;
    height: 60px;
  }

  .CreatorsItemSmall {
    width: 70px;
    height: 70px;
  }

  .CreatorsBadge {
    position: absolute;
    width: 24px;
    top: 3px;
    left: -5px;
    z-index: 7;
  }

  .CreatorsBadgeSM {
    position: absolute;
    width: 15px;
    top: 4px;
    left: 0px;
    z-index: 7;
  }
}
