@import "style/colors.scss";


.Logo {
  width: 140px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .Logo {
    width: 120px;
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .Logo {
    width: 200px;
    cursor: pointer;
  }
}

@media (max-width: 730px) {
  .Logo {
    width: 150px;
    cursor: pointer;
  }
}
