@import "style/colors.scss";

.Header {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1250px;
  box-sizing: border-box;
  padding: 16px 24px;
  padding-top: 24px;
  position: relative;
}

.Logo {
  width: 140px;
  cursor: pointer;
}

.Input {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  font-size: 14px;
  border: none;
  width: 320px;
  padding: 12px 24px;
  outline: none;
  font-family: "Airbnb Cereal App Book";
  display: none;
}

.Infos {
  display: flex;
  align-items: center;
}

.Links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}

.LinkItem {
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
  text-decoration: none;
}

.Wallet {
  display: flex;
  margin-left: 60px;
}

.Regular {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Create {
  margin-right: 24px;
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 28px;
  padding: 10px 28px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);

  &:hover {
    color: white;
    background-color: $primary;
    border: 2px solid $primary;
  }
}

.Connect {
  margin-right: 24px;
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 28px;
  padding: 10px 28px;
  border: 2px solid black;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);

  &:hover {
    color: black;
    background-color: white;
  }
}

.Profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 28px;
  padding: 2px 2px;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: black;
  cursor: pointer;
}

.ProfileImageContainer {
  border-radius: 50%;
  display: flex;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  position: relative;
}

.ProfileImage {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreatorLetter {
  font-size: 18px;
  font-family: "Airbnb Cereal App Medium";
  text-transform: uppercase;
  color: white;
}

.Caps {
  margin-left: 16px;
  margin-right: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Airbnb Cereal App Light";
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.05px;
}

.NumberCaps {
  font-family: "Airbnb Cereal App Bold";
  letter-spacing: 0.5px;
  font-size: 13px;
  margin-right: 6px;
  margin-top: -1px;
}

.Dropdown {
  background: #ffffff;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 100;
  position: absolute;
  top: 100px;
  right: 45px;
  width: 260px;
}

.Dropdown::before {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  z-index: 101;
  border-top: 10px solid white;
  content: "";
  position: absolute;
  top: -15px;
  right: 30px;
  transform: translateY(7px) rotate(180deg);
}

.DropdownContainer {
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.DropdownProfile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.Name {
  font-family: "Airbnb Cereal App Bold";
  margin-left: 16px;
  font-size: 16px;
  line-height: 24px;
}
.Section {
  padding: 12px 0px;
  display: flex;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);

  &:not(.NoHover):hover {
    color: $primary;
  }
}


.SectionWalletTitle{
  &:hover {
    color: $primary;
  }
}

.SectionWallet {
  color: #686464;
  margin-left: 8px;
  font-family: "Airbnb Cereal App Light";
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #cbc9c9;
  &:hover {
    color: $primary;
    fill: $primary;
  }
}

.CopyPaste {
  width: 11px;
  margin-left: 7px;
  margin-top: -2px;
}

.Section:last-child {
  border-bottom: none;
  padding-bottom: 4px;
}
.SectionTitle {
  font-family: "Airbnb Cereal App Bold";
  font-size: 12px;
}

.CapsSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 16px;
  background-color: black;
  box-sizing: border-box;
  color: white;
  border-radius: 0px 0 15px 15px;

  span {
    font-family: "Airbnb Cereal App Light";
    font-size: 10px;
  }
}

.CapsPrice {
  font-family: "Airbnb Cereal App Bold";
  font-size: 15px;
  margin-left: 10px;
}

@media (max-width: 1300px) {
  .Links {
    margin-right: 24px;
  }

  .HeaderContainer {
    justify-content: space-around;
    width: 100%;
    width: 950px;
  }

  .Wallet {
    margin-left: 0px;
  }

  .Logo {
    width: 120px;
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .Links {
    display: none;
  }

  .SearchBar,
  .Infos {
    display: none;
  }

  .HeaderContainer {
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .Logo {
    width: 200px;
    cursor: pointer;
  }
}

@media (max-width: 730px) {
  .Logo {
    width: 150px;
    cursor: pointer;
  }
}
