@import "style/colors.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 120px 0px;
  align-items: center;
  justify-content: center;
}

.Top {
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 40px;
  padding-left: 32px;
}

.Title {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
  margin-bottom: 40px;
}

.Filters {
  display: flex;
  align-items: center;
  margin-left: 100px;
  width: 80%;
  justify-content: space-around;
}

.Filter {
  font-family: "Airbnb Cereal App Bold";
  font-size: 16px;
  line-height: 22px;
  padding: 8px 28px;
  border-radius: 18px;
  border: 1.3px dashed #e0e0e0;
  cursor: pointer;
}

.Emoji {
  margin-right: 10px;
}

.NFTWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.NFTShell {
  margin-bottom: 30px;
  margin-right: 12px;
  margin-left: 12px;
}

.Button {
  align-items: center;
  border: 2px solid $primary;
  color: $primary;
  border-radius: 30px;
  padding: 14px 64px;
  font-size: 16px;
  font-family: "Airbnb Cereal App Medium";
  margin-top: 80px;
  margin-bottom: 120px;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $primary;
    color: white;
  }
}
.DisabledButton {
  align-items: center;
  border: 2px solid #e0e0e0;
  color: #e0e0e0;
  border-radius: 30px;
  padding: 14px 64px;
  font-size: 16px;
  font-family: "Airbnb Cereal App Medium";
  margin-top: 80px;
  margin-bottom: 120px;
  cursor: auto;
  transition: all 0.3s ease-out;
}
.Hide {
  display: none;
}
@media (max-width: 1300px) {
  .Wrapper {
    width: 900px;
    padding: 80px 0px;
  }
  .Title {
    font-size: 26px;
  }

  .Filters {
    margin-left: 40px;
    width: 90%;
  }

  .Filter {
    font-size: 13px;
    padding: 4px 18px;
  }
  .Button {
    padding: 12px 58px;
    font-size: 14px;
    margin-top: 80px;
    margin-bottom: 100px;

    &:hover {
      background-color: $primary;
      color: white;
    }
  }
  .DisabledButton {
    padding: 12px 58px;
    font-size: 14px;
    margin-top: 80px;
    margin-bottom: 100px;
  }
}

@media (max-width: 950px) {
  .Wrapper {
    width: 100%;
    padding: 60px 24px;
  }
}

@media (max-width: 870px) {
  .Top {
    flex-direction: column;
    padding-left: 0px;
  }

  .Filters {
    margin-left: 0px;
  }

  .Title {
    margin-bottom: 24px;
  }
}

@media (max-width: 720px) {
  .Filters {
    justify-content: center;
    flex-wrap: wrap;
  }

  .Filter {
    font-size: 15px;
    margin: 0px 8px;
    margin-bottom: 12px;
  }
}
