.Background {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 110;
  box-sizing: border-box;
}

.Container {
  width: 440px;
  border-radius: 25px;
  background-color: black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 52px 40px;
  position: relative;
}

.Title {
  font-family: 'Airbnb Cereal App Bold';
  color: white;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

.Subtitle {
  color: white;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Airbnb Cereal App Light';
  margin-top: 8px;
}

.Close {
  display: flex;
  position: absolute;
  z-index: 130;
  fill: white;
  top: 28px;
  right: 28px;
  width: 18px;
  cursor: pointer;
}

.SocialButtons{
  margin-top: 16px;
  margin-bottom: 6px;
}

.UrlCopyContainer {
  border: solid 1px white;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Url{
  overflow: hidden;
  margin-right: 10px;
  font-size: 13px;
  font-family: 'Airbnb Cereal App Light';
}

.CopyPaste{
  width: 16px;
  display: flex;
  cursor: pointer;
}

.CopyPasteSvg{
  fill: white;
}

@media (max-width: 720px) {
  .Container {
    width: 340px;
    padding: 32px 18px;
  }

  .Title {
    color: white;
    font-size: 24px;
    line-height: 28px;
  }

  .Subtitle {
    font-size: 9px;
    line-height: 12px;
    margin-top: 6px;
  }

  .Close {
    top: 20px;
    right: 20px;
    width: 16px;
  }

  .Url{
    font-size: 11px;
  }
}
