@import "style/colors.scss";

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.Wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 110rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 9.6rem 2.4rem;
}

.Title {
  font-family: "Airbnb Cereal App Bold";
  font-size: 6.4rem;
  line-height: 1.3;
  margin: 0;
}

.Subtitle {
  display: flex;
  align-items: center;
  font-family: "Airbnb Cereal App Medium";
  font-size: 2rem;
  line-height: 1.3;
  margin-top: 4rem;
}

.EyeSVG {
  width: 2.4rem;
  margin-right: 1rem;
  fill: black;
}

.NftPreviewWrapper {
  width: 100%;
  height: auto;
  margin-top: 5.6rem;
}

.Data {
  display: flex;
  width: 100%;
  margin-top: 12rem;

  >* {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;

    > :first-child {
      margin-top: 0;
    }

  }
}

.Left {
  border-right: 1px solid #E0E0E0;
  padding-right: 13.6rem;
}

.Right {
  padding-left: 13.6rem;
}

.InputShell {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 6.4rem;

  &Description {
    flex: 1;
  }
}

.InputLabel {
  font-family: "Airbnb Cereal App Bold";
  font-size: 2rem;
  line-height: 1.3;
  margin: 0;
}

.Input {
  width: 100%;
  background: #F7F7F7;
  border: 0.2rem solid rgba(0, 0, 0, 0);
  border-radius: 0.8rem;
  box-sizing: border-box;
  font-family: "Airbnb Cereal App Book";
  font-size: 1.6rem;
  margin-top: 1.6rem;
  outline: none;
  padding: 14px 16px;

  &:focus {
    border: 0.2rem solid #7417EA;
  }
}

.Input::placeholder {
  color: #c1c1c1;
}

.InputError {
  border: 1px solid #ff5555;
}

.Textarea {
  resize: none;
  flex: 1;
}

.Textarea::placeholder {
  color: #c1c1c1;
}

.Insight {
  font-family: "Airbnb Cereal App Book";
  font-size: 13px;
  line-height: 15px;
  margin-top: 8px;
  margin-left: 8px;
  color: #c1c1c1;
}

.SelectShell {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.Link {
  font-size: 13px;
  font-family: "Airbnb Cereal App Medium";
  color: #686464;
  margin-left: 24px;
}

.Advice {
  color: #7417EA;
  font-family: "Airbnb Cereal App";
  font-size: 1.6rem;
  line-height: 0.8;
  margin: 7.2rem auto 0;
}

.Create {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: $primary;
  border: none;
  border-radius: 4rem;
  color: white;
  font-family: "Airbnb Cereal App Bold";
  font-size: 13px;
  margin-top: 2.4rem;
  padding: 0.8rem 2rem;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 1;

  &:hover {
    color: white;
    background-color: black;
  }
}

.CreateDisabled {
  pointer-events: none;
  opacity: 0.4;
}

.SelectContainer {
  position: relative;
  box-sizing: border-box;
}

.arrowbtmselect {
  position: absolute;
  right: 20px;
  width: 14px;
  top: 16px;
  transform: rotate(-90deg);
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.arrowbtm {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 14px;
  transform: rotate(90deg);
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.Select {
  border: 2px solid $primary;
  border-radius: 25px;
  padding: 12px 24px;
  width: 230px;
  font-family: "Airbnb Cereal App Bold";
  font-size: 13px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.SelectDisabled {
  border: 2px solid;
  border-radius: 25px;
  padding: 12px 24px;
  width: 230px;
  font-family: "Airbnb Cereal App Bold";
  font-size: 13px;
  outline: none;
  box-sizing: border-box;
  cursor: disabled;
  opacity: 0.5;
}

.SelectOptn {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  top: 55px;
  background-color: white;
}

.SelectItem {
  width: 200px;
  color: #686464;
  border-radius: 25px;
  padding: 12px 24px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Airbnb Cereal App Medium";
  transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
  background-color: white;

  &:hover {
    color: white;
    background-color: $primary;
  }
}

.Hide {
  display: none;
}

@media (max-width: 1300px) {
  .Wrapper {
    width: 950px;
    padding: 60px 24px;
  }
}

@media (max-width: 950px) {
  .Wrapper {
    width: 100%;
    padding: 60px 24px;
  }
}

@media (max-width: 720px) {
  .Data {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .InnerContainer {
    width: 100%;
    padding: 24px 24px;
  }

  .Left {
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .Right {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  .Label {
    font-size: 11px;
  }

  .Title {
    font-size: 34px;
    line-height: 38px;
    margin-top: 10px;
    margin-bottom: 14px;
  }

  .Select {
    padding: 8px 16px;
    width: 150px;
    font-size: 11px;
  }

  .arrowbtmselect {
    right: 14px;
    width: 9px;
    top: 14px;
  }

  .arrowbtm {
    right: 14px;
    top: 14px;
    width: 9px;
  }

  .SelectOptn {
    top: 45px;
  }

  .SelectItem {
    width: 120px;
    font-size: 11px;
    padding: 8px 16px;
  }

  .Subtitle {
    font-size: 14px;
  }

  .NFTPreview {
    width: 250px;
    height: 430px;
  }

  .NFTSPreview {
    width: 140px;
    height: 240px;
  }

  .WaterMarkSVG {
    width: 140px;
  }

  .UploadSVG2 {
    width: 30px;
  }
}